$max-border-radius: 10000px;
$major-font-family: 'Arial';

$grey-background: rgb(249, 249, 249); //#fafafa; //#E8E8E8;
$grey-accent: #e6e6e6; //#E3E3E3;

$primary-text-color: #47525E;

$menu-primary-text-color: #3F4A57; //
$menu-secondary-text-color: #A1A1A1;

$toolbar-color: #414A56;

$scrollbar-width: 13px;
