/**
@font-face {
  font-family: 'TrebuchetMS';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/TrebuchetMS.ttf') format('truetype');
}
**/

@font-face {
  font-family: 'Helvetica neue';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/HelveticaNeue.ttf') format('truetype');
}